{% load staticfiles %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Demo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    body,td { font-size: 20px; line-height: 150% ; color: #999999;}
    a:link{
        color: #1B0BB2;
        text-decoration: none;
    }
    a:hover,a:active{
        color: #0000FF;
        text-decoration: underline;
    }
    .circle
    {
        list-style-type: circle;
    }
    </style>

</head>
<body>
<br>
<br>
<table width="550" align="center" cellpadding="1" cellspacing="0" style="BORDER-BOTTOM: #cccccc 1px solid">
<tr>
<td><strong>Demo Link</strong></td>
</tr></table>

<br>
<table width="500" border="0" align="center" cellpadding="3" cellspacing="0" style="BORDER-LEFT: #EFEFEF 10px solid">
<tr><td>

<ul class=circle>
    <li>
        <a href="{% url 'ranking_high' 'daily' %}" onclick="window.open('http://dev.pixiv.net');window.close();" target="_blank">リンクその１</a>
    </li>
    <li>
        <a href="{% url 'ranking_high' 'daily' %}">リンクその2</a>
    </li>
    <p>リンク1でデモが使えない場合はリンク2を開いてください．</p>
</ul>

</body>
</html>