{% load staticfiles %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}pixivhack{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <style>
        body {
            font-family: Monospace;
            background-color: #000000;
            margin: 0px;
            overflow: hidden;
            display:none;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('body').fadeIn(3000);
        });
    </script>
    {% block extrahead %}{% endblock %}
</head>
<body>
    <script src="{% static 'build/three.js' %}"></script>
    <script src="{% static 'js/renderers/Projector.js' %}"></script>
    <script src="{% static 'js/renderers/CanvasRenderer.js' %}"></script>
    <script src="{% static 'js/libs/stats.min.js' %}"></script>
    {% block content %}
    {{ content }}
    {% endblock %}
</body>
</html>